body {
    background-image: url('/Fiery_Restaurant/src/assets/img/ss.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }